<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fisincorporated.languagetutorial"
    android:versionCode="5"
    android:versionName="1.2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.fisincorporated.languagetutorial.LanguageApplication"
        android:allowBackup="true"
        android:icon="@drawable/languageicon"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme" >
        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.fisincorporated.languagetutorial.utility.SearchActivity" />

        <activity
            android:name="com.fisincorporated.languagetutorial.StartupButtonsActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fisincorporated.languagetutorial.LessonPhraseActivity"
            android:parentActivityName="com.fisincorporated.languagetutorial.StartupButtonsActivity"
            android:uiOptions="splitActionBarWhenNarrow" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fisincorporated.languagetutorial.StartupButtonsActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.fisincorporated.languagetutorial.LessonListActivity"
            android:parentActivityName="com.fisincorporated.languagetutorial.StartupButtonsActivity"
            android:uiOptions="splitActionBarWhenNarrow" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fisincorporated.languagetutorial.StartupButtonsActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.fisincorporated.languagetutorial.LanguageMaintenanceActivity"
            android:parentActivityName="com.fisincorporated.languagetutorial.StartupButtonsActivity"
            android:uiOptions="splitActionBarWhenNarrow" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fisincorporated.languagetutorial.StartupButtonsActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.fisincorporated.languagetutorial.BackupRestoreActivity"
            android:parentActivityName="com.fisincorporated.languagetutorial.StartupButtonsActivity"
            android:uiOptions="splitActionBarWhenNarrow" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fisincorporated.languagetutorial.StartupButtonsActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.fisincorporated.languagetutorial.LessonOptionActivity"
            android:parentActivityName="com.fisincorporated.languagetutorial.StartupButtonsActivity"
            android:uiOptions="splitActionBarWhenNarrow" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fisincorporated.languagetutorial.StartupButtonsActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.fisincorporated.languagetutorial.AboutActivity"
            android:parentActivityName="com.fisincorporated.languagetutorial.StartupButtonsActivity"
            android:uiOptions="splitActionBarWhenNarrow" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fisincorporated.languagetutorial.StartupButtonsActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.fisincorporated.languagetutorial.utility.SearchActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.fisincorporated.languagetutorial.StartupButtonsActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fisincorporated.languagetutorial.StartupButtonsActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <service
            android:name=".LanguageMaintenanceService"
            android:exported="false" />

        <provider
            android:name=".utility.MySuggestionProvider"
            android:authorities="com.fisincorporated.languagetutorial.utility.MySuggestionProvider" />
    </application>

</manifest>